<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% comment %} {% load static tailwind_tags %} {% endcomment %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% comment %} {% tailwind_css %} {% endcomment %}
    {% block corecss %}
      <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    {% endblock %}
    {% block corejs %}
      <script src="{% static 'core/js/scripts.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    {% bootstrap_messages %}
    {% include "core/components/navbar.html" %}
    {% block content %}

    {% endblock %}
    {% block hero %}

    {% endblock %}
    {% block footer %}
      This is Footer
    {% endblock %}
  </body>
</html>
