<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul><li><a href="{% url "home" %}">Home</a></li></ul>
        <ul><li><a href="{% url "product" %}">Product</a></li></ul>
        <ul><li><a href="{% url "contact" %}">Contact</a></li></ul>
        <ul><li><a href="{% url "sync_view" %}">Sync</a></li></ul>
        <ul><li><a href="{% url "async_view" %}">Async</a></li></ul>
        <ul><li><a href="{% url "student_data" %}">Student Data</a></li></ul>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>