<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Registration</title>
        <style>
            .errorlist{
                color: red
            }
        </style>
    </head>
    <body>
        <h1>Student Registration</h1>
        {% comment %} <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form}}
            <button>Submit</button>
        </form> {% endcomment %}
        {% comment %} <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{field.label_tag}} {{field}} <span style="color: red">{{field.errors|striptags}}</span>
                </div>
            {% endfor %}
            <button>Submit</button>
        </form> {% endcomment %}
        {% comment %} <form action="" method="post" novalidate>
            {% csrf_token %}
            {% form.non_field_errors%}
            {% for field in form %}
                <div>
                    {{field.label_tag}} {{field}}
                    {% for error in field.errors %}
                        <span style="color: red">{{error|striptags}}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <button>Submit</button>
        </form> {% endcomment %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
        </form>
        {% comment %} <form action="">
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit">
        </form> {% endcomment %}
        {% comment %} <form action="">
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" value="Submit">
        </form> {% endcomment %}
        {% comment %} <form action="">
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form> {% endcomment %}
        {% comment %} <form action="">
            {{form.first_name}}
            {{form.last_name}}
            {{form.email}}
            {{form.city}}
            <input type="submit" value="Submit">
        </form> {% endcomment %}

        {% if messages %}
            {% for message in messages %}
                <span style="color: green">{{message}}</span>         
            {% endfor %}
        {% endif %}
    </body>
</html>