{% extends "core/base.html" %}
{% block title %}Scan QR{% endblock title %}
{% block content %}

<div class="center-container">
    <div class="container">
        <h1>Scan QR Code</h1>
        <form action="{% url "scan_qr" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input
                required pattern="\d{10}"
                type="text" 
                name="mobile_number"
                placeholder="Enter 10-digit mobile number"
            >
            <input
                accept="image/*"
                type="file"
                name="qr_image"
                id="qr-input"
            >
            <button type="submit">Scan</button>
        </form>
        <div class="qr-preview">
            {% if result and not qr_image_url %}
                <h2>{{ result }}</h2>
            {% endif %}
            {% if qr_image_url %}
                <img src="{{ qr_image_url}} " alt="QR Code Image">
            {% endif %}
        </div>
    </div>
</div>
<script>
    const qrInput = document.getElementById('qr-input');
    qrInput.addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = 'QR Code Preview';
                img.style.maxWidth = '200px';
                img.style.marginLeft = '20px';
                img.style.border = '1px solid #ddd';
                img.style.borderRadius = '8px';
                img.style.padding = '5px';

                const previewContainer = document.querySelector('.qr-preview');
                const existingImg = previewContainer.querySelector('img');
                if (existingImg) {
                    existingImg.remove();
                }
                previewContainer.prepend(img);
            };
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock content %}