{% extends "core/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} FEES {% endblock title %}

{% block corecss %} 
    {{block.super}}
    <link rel="stylesheet" href="{% static 'fees/css/style.css' %}">
{% endblock corecss %}

{% block content %}
    <h1>{{fee}}</h1>
    <img alt="aws" src="{% static 'fees/images/image.png'%}" height="200px" width="200px">
    <img alt="aws" src="{% get_static_prefix%}fees/images/image.png" height="200px" width="200px">
    
    <h1>{{cname}} with static Files</h1>
    <form action="">
        {% bootstrap_button button_type="submit" content="Click Me" onclick="display()" %}
    </form>
    {% block corejs %} <script src="{% static 'fees/js/scripts.js' %}"></script> {% endblock corejs %}
{% endblock content %}