{% extends "myapp/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Product Detail</h1>
    <div id="product-detail" class="mt-4">
        <p><strong>ID:</strong> <span id="product-id"></span></p>
        <p><strong>Name:</strong> <span id="product-name"></span></p>
        <p><strong>Price:</strong> RS. <span id="product-price"></span></p>
    </div>
    <a href="/" class="btn btn-primary mt-3">Back to Product List</a>
</div>

<script>
    // Define the base API URL
    const API_URL = '/api/products/';

    // Get product ID from the URL
    const id = window.location.pathname.split('/').filter(Boolean).pop();

    async function fetchProductDetail() {
        const response = await fetch(`${API_URL}${id}/`)
        if (response.ok) {
            const product = await response.json();
            document.getElementById('product-id').textContent = product.id;
            document.getElementById('product-name').textContent = product.name;
            document.getElementById('product-price').textContent = product.price;
        } else {
            console.error('Failed to fetch product details');
        }
    }

    // Fetch the product details on page load
    fetchProductDetail();
</script>

{% endblock content %}