<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "core/css/main.css" %}">
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} Header {% endcomment %}
    {% block header %}
        {% include "core/components/header.html" %}
    {% endblock header %}
    
    {% comment %} Hero Section {% endcomment %}
    {% block hero %}{% endblock hero %}

    {% comment %} Main Content {% endcomment %}
    {% block maincontent %}{% endblock maincontent %}

    {% comment %} Footer {% endcomment %}
    {% block footer %}
        {% include "core/components/footer.html" %}
    {% endblock footer %}
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>